<!DOCTYPE html>
<html>
    <head>
        <title>Help | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>Help</h1>
        <p>Get help with Ruby on Rails at the
            <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>
        </p>
    </body>
</html>


